h1 {
    color: rgb(13, 13, 175);
}
body {
    background-color: rgb(204, 199, 199);
}
#div1 {
    width: 200px;
    height: 40px;
    padding-left: 10px;
    padding-right: 50px; 
    padding-top: 1px;  
    padding-bottom: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    border: solid gray;
}
.button {
    background-color: rgb(13, 13, 175);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 7px;
    cursor: pointer;
  }
p {
 font-size: larger;
    color: gray;    
}